<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find urdf_by)/urdf/xacro/car.xacro" />

   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find urdf_by)/config/latice.rviz" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"  />
  <!-- <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" /> -->

<node name="arbotix" pkg="arbotix_python" type="arbotix_driver" >
     <rosparam file="$(find urdf_by)/config/control.yaml" command="load" />
     <param name="sim" value="true" />
</node>

  <node pkg="by_djstl" type="djstl_main" name="by_djstl"  output="screen"/>
</launch>